<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客发布</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- 引入md插件的第一步 ：css -->
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">

    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>
<!--格式化代码：alt+shift+f -->
<!--导航  [inverted]:黑底|去掉白底 [attached]：钝化边角-->
<nav th:replace="admin/_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <!-- 右上角下拉框 -->
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown item">
                    <div class="text">
                        <img class="ui avatar image" src="../../static/images/about.jpg">
                        贺立
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="javascript:;" class="item">注销</a>
                        <a href="javascript:;" class="item">
                            <div class="text">
                                <img class="ui avatar image" src="../../static/images/about.jpg">
                                贺立
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 移动端导航按钮 -->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<!-- 二级导航 -->
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="javascript:;" class="active teal item">发布</a>
            <a href="./blogs.html" class="item">列表</a>
        </div>
    </div>
</div>

<!--中间内容-->
<div class="m-container m-padded-tb-massive">
    <div class="ui container">
        <form id="blog-form" action="#" th:object="${blog}" th:action="@{/admin/blogs}" method="post" class="ui form">

            <input type="hidden" name="published" th:value="*{published}">  <!--发布状态-->
            <input type="hidden" name="id" th:value="*{id}">

            <div class="required field">
                <div class="ui left labeled input">
                    <div class="ui selection compact teal basic dropdown label">
                        <input type="hidden" value="原创" name="flag" th:value="*{flag}" >

                        <i class="dropdown icon"></i>
                        <div class="text">原创</div>
                        <div class="menu">
                            <div class="item" data-value="原创">原创</div>
                            <div class="item" data-value="转载">转载</div>
                            <div class="item" data-value="翻译">翻译</div>
                        </div>
                    </div>
                    <input type="text" name="title" placeholder="标题" th:value="*{title}">

                </div>
            </div>

            <div class="required field">
                <!-- 引入md插件第三步 -->
                <div id="md-content" style="z-index: 1 !important;">
                    <textarea name="content" th:text="*{content}" placeholder="博客内容..." style="display:none;"></textarea>
                </div>
            </div>

            <div class="two fields">
                <div class="required field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">分类</label>
                        <div class="ui fluid selection dropdown">
                            <!-- type.id 会将id值赋给blog的type对象-->
                            <input type="hidden" name="type.id" th:value="${blog.typeId}">

                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}"
                                     th:text="${type.name}">错误日志
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <div class="ui left labeled action input">
                        <label class="ui compact teal basic label">标签</label>
                        <div class="ui fluid selection multiple search dropdown">
                            <input type="hidden" name="tagIds" th:value="*{tagIds}" >

                            <i class="dropdown icon"></i>
                            <div class="default text">标签</div>
                            <div class="menu">
                                <div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}"
                                     th:text="${tag.name}">标签
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="required field">
                <div class="ui left labeled input">
                    <label class="ui teal basic label">首图</label>
                    <input type="text" th:value="*{firstPicture}" name="firstPicture" placeholder="首图地址">
                </div>
            </div>

            <div class="field">
                <div id="md-description" style="z-index: 1 !important;">
                    <textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="300"></textarea>
                </div>
            </div>

            <div class="inline fields">
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" th:checked="*{recommend}" name="recommend" class="hidden" id="recommend" checked>
                        <label for="recommend">推荐</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" th:checked="*{shareStatement}" name="shareStatement" class="hidden" id="shareStatement">
                        <label for="shareStatement">转载</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" th:checked="*{appreciation}" name="appreciation" class="hidden" id="appreciation">
                        <label for="appreciation">赞赏</label>
                    </div>
                </div>

                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" th:checked="*{commentabled}" name="commentabled" class="hidden" id="commentabled">
                        <label for="commentabled">评论</label>
                    </div>
                </div>
            </div>

            <!-- 提示默认找error 提示信息写在js中 -->
            <div class="ui error message"></div>

            <div class="ui right aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                <button type="button" id="save-btn" class="ui secondary button">保存</button>
                <button type="button" id="publish-btn" class="ui teal button">发布</button>
            </div>

        </form>


    </div>
</div>


<br>
<br>
<!--底部footer-->
<footer th:replace="admin/_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid ">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/images/WeChat.jpg" class="ui rounded image" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spacing m-opacity-mini">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                    <a href="#" class="item">用户故事</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-spacing m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Email:1763669774@qq.com</a>
                    <a href="#" class="item">QQ:1763669774</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-spacing m-opacity-mini">blog</h4>
                <p class="m-text-thin m-text-spacing m-opacity-mini">这是我的第一个自制博客，欢迎阅览！</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spacing m-opacity-mid">Copyright© 2021-2022 Heli Designed by Heli</p>
    </div>

</footer>

<!--javascript-->
<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--  引入md插件的第二步：js -->
<script src="../../static/lib/editormd/editormd.amd.js"></script>
<!--/*/</th:block>/*/-->
<script>

    // 引入md插件的第四步 :初始化Markdown 编辑器
    var contentEditor;

    $(function () {
        contentEditor = editormd("md-content", {
            width: "100%",
            height: 640,
            syncScrolling: "single",
            // path: "../../static/lib/editormd/lib/"
            path: "/lib/editormd/lib/"
        });
    });

    // 给移动端右上角导航按钮绑定单击事件，可以控制选择导航栏的隐藏效果
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });

    // 给右上角登录头像添加下拉框
    $('.ui.dropdown').dropdown();

    //验证表单
    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'title',
                rules: [{
                    type: 'empty',
                    prompt: '标题 ：请输入博客标题'
                }]
            },
            content: {
                identifier: 'content',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客内容'
                }]
            },
            typeId: {
                identifier: 'type.id',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客分类'
                }]
            },
            firstPicture: {
                identifier: 'firstPicture',
                rules: [{
                    type: 'empty',
                    prompt: '请输入博客首图'
                }]
            },
            description : {
                identifier: 'description',
                rules: [{
                    type : 'empty',
                    prompt: '请输入博客描述'
                }]
            }
        }
    });

    //点击保存，修改发布状态为false
    $('#save-btn').click(function () {
        $('[name="published"]').val(false);
        $('#blog-form').submit();
    });
    //点击发布，修改发布状态为true
    $('#publish-btn').click(function () {
        $('[name="published"]').val(true);
        $('#blog-form').submit();
    });

    // //消息提示关闭初始化
    // $('.message .close')
    //     .on('click', function () {
    //         $(this)
    //             .closest('.message')
    //             .transition('fade');
    //     });

</script>
</body>

</html>