<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎光临啦...</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>

<body>
<!--导航 -->
<nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="搜索">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <!-- 移动端导航按钮 -->
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-massive">
    <div class="ui container">
        <div class="ui stackable grid">
            <!--left blog list-->
            <div class="eleven wide column">
                <!-- header -->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h3 class="ui teal header">博客</h3>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">14</h3> 篇
                        </div>
                    </div>
                </div>

                <!-- content -->
                <div class="ui attached segment">
                    <!-- 单篇内容 -->
                    <div class="ui padded vertical segment" th:each="blog : ${pageInfo.list}">
                        <div class="ui middle aligned mobile reversed stackable grid">
                            <!-- 左边内容 -->
                            <div class="eleven wide column">
                                <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank"
                                                         class="m-black" th:text="${blog.title}">“996”的背后蕴藏的什么机密？</a>
                                </h3>
                                <p class="m-text" th:text="|${blog.description}......|">
                                    这两天996很火爆，说啥的都有。那什么是996呢？一周工作六天，每天工作时间从早上9点到晚上9点。
                                    而且很多人都说，那些风口上的企业有很多早已经实行这样的工作制度了。
                                    那996制为什么会引起这么大的反应呢？它的背后意味着什么呢？
                                </p>
                                <div class="ui stackable grid">
                                    <!-- 头像、作者、浏览量等 -->
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/id/0/100/100"
                                                     th:src="@{${blog.user.avatar}}" alt=""
                                                     class="ui avatar image">
                                                <div class="content"><a href="#" th:href="@{/about}" target="_blank" class="header" th:text="${blog.user.nickname}">贺立</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i>
                                                <span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd HH:mm:ss')}">2021-01-28</span>
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i><span th:text="${blog.views}">555</span>
                                            </div>
                                        </div>

                                    </div>
                                    <!-- 分类等 -->
                                    <div class="right aligned five wide column">
                                        <a href="javascript:;" class="ui teal basic label m-padded-tiny m-text-thin"
                                           th:text="${blog.type.name}">分类</a>
                                    </div>
                                </div>
                            </div>
                            <!-- 右边小图片 -->
                            <div class="five wide column">
                                <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                                    <img src="https://picsum.photos/id/0/800/400" th:src="@{${blog.firstPicture}}"
                                         alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>

                </div>

                <!--footer-->
                <div class="ui bottom attached segment" th:if="${pageInfo.pages}>1">
                    <div class="ui middle aligned four column grid">
                        <div class="column">
                            <div class="ui mini black button"><a th:href="@{/}" style="color: darkmagenta">首页</a>
                            </div>
                        </div>
                        <div class="left aligned column">
                            <a href="#" class="ui mini teal basic button"
                               th:href="@{/(pagenum=${pageInfo.hasPreviousPage}?${pageInfo.prePage}:1)}"
                               th:unless="${pageInfo.isFirstPage}">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button"
                               th:href="@{/(pagenum=${pageInfo.hasNextPage}?${pageInfo.nextPage}:${pageInfo.pages})}"
                               th:unless="${pageInfo.isLastPage}">下一页</a>
                        </div>
                        <div class="right aligned column">
                            <div class="ui mini black button">
                                <a th:href="@{/(pagenum=${pageInfo.pages})}" style="color: darkmagenta">尾页</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui fluid segment ">
                    <p>当前第<span th:text="${pageInfo.pageNum}"></span>页，总<span th:text="${pageInfo.pages}"></span>页，共<span
                            th:text="${pageInfo.total}"></span>条记录</p>
                </div>
            </div>

            <!--right top-->
            <div class="five wide column">

                <!-- 分类 -->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/types/-1}" target="_blank">更多<i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item" th:each="type : ${types}">
                                <span th:text="${type.name}">学习日志</span>
                                <div class="ui teal basic label" th:text="${#arrays.length(type.blogs)}">13</div>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- 标签 -->
                <div class="ui segments m-margin-huge">

                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="right aligned column">
                                <a href="#" th:href="@{/tags/-1}" target="_blank">更多<i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="ui teal segment">
                        <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-mini" th:each="tag : ${tags}">
                            <span th:text="${tag.name}">方法论</span>
                            <div class="detail" th:text="${#arrays.length(tag.blogs)}">20</div>
                        </a>
                    </div>

                </div>


                <!-- 最新推荐 -->
                <div class="ui segments m-margin-huge">
                    <div class="ui secondary segment">
                        <div class="column">
                            <i class="bookmark icon"></i>最新推荐
                        </div>
                    </div>
                    <div class="ui segment" th:each="blog : ${recommendBlogs}">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin"
                           th:text="${blog.title}">用户故事</a>
                    </div>
                </div>

                <!-- 二维码 -->
                <h4 class="ui horizontal divider header">扫码关注我</h4>
                <div class="ui centered card" style="width: 120px;">
                    <img src="../static/images/WeChat.jpg" th:src="@{/images/WeChat.jpg}" alt="" class="ui rounded image">
                </div>


            </div>
        </div>
    </div>
</div>


<br>
<br>

<!--底部footer-->
<footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

</footer>

<!--javascript-->
<!--/*/<th:block th:replace="_fragments :: script">/*/-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
<!--/*/</th:block>/*/-->

<script>
    // 给移动端右上角导航按钮绑定单击事件，可以控制选择导航栏的隐藏效果
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide')
    });
</script>
</body>

</html>